<header>
  <div class="header">
    <% if user_signed_in? %>
      <%= link_to current_user.nickname, profiles_path, class: "user-nickname" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: "login" %>
      <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
    <% end %>
  </div>
</header>

<body>
  <% if user_signed_in? %>
    <h1>HABITS</h1>
<%# タスク入力フォーム %>
    <p>習慣にしたいことと目標を入力してください</p>
    <%= form_with model: @task, local: true, class: "task-form" do |f| %>
      <%= f.text_field :theme, placeholder: "習慣(例:毎日運動したい)", class: "task-input" %>
      <%= f.text_field :goal, placeholder: "目標(例:マラソン５km)", class: "task-input" %>
      <%= f.submit "入力", class: "task-btn" %>
    <% end %>
<%# //タスク入力フォーム %>

<%# タスク表示部 %>
    <div class="task_index">
    習慣/目標
    <div class="task_theme">
      <% if @tasks.present? %>
        <% @tasks.each do |task| %>
          <%= task.theme %>
          /
          <%= task.goal %>
          <%= link_to "行動", task_motions_path(task.id) %>
          <%= link_to "削除", task_path(task.id), method: :delete %><br>
        <% end %>
      <% else %>
        毎日運動したい / マラソン５km
      <% end %>
    </div>
<%# //タスク表示部 %>

  <% else %>
    <div class="description">
      このアプリケーションは、<br>
      主に運動の習慣化を作るためのアプリケーションです。<br>
      他にも、勉強などの習慣化にもお使いいただけるようになっています。<br>
      ぜひご活用ください。<br>
    </div>
  <% end %>
</body>